*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.App{
  background: linear-gradient(to right, rgb(46, 46, 255), darkblue);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}
.container .selected{
  margin: 0 auto;
  border-radius: 3px;
  border: 4px solid lavender;
  width: 300px;
  height: 300px;
}
.container .imgContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 0 0 0;
  gap: 2rem;
}
.container .imgContainer img{
  width: 100px;
  height: 100px;
}